<header class="page-header">
  <a href="/<%= lang %>/" class="logo" title="Fabio.">
    <img data-dark-theme-src="/images/logo--dark.svg" src="/images/logo.svg" alt="Fabio.">
  </a>
  <div class="page-header__links">
    <a href="/<%= lang %>/about/" title="About"><%= header.about %></a>
    <a href="mailto:fabio@sangregorio.dev" target="_blank" title="Contact"><%= header.contact %></a>
  </div>
</header>  