<header class="page-header">
  <a href="/" class="logo" title="Fabio.">
    <img data-dark-theme-src="/images/logo--dark.svg" src="/images/logo.svg" alt="Fabio.">
  </a>
  <div class="page-header__links">
    <a href="/about/" title="About">about</a>
    <a href="mailto:fabio@sangregorio.dev" target="_blank" title="Contact">contact</a>
  </div>
</header>  