<section class="section">
  <header class="competitions__h1 h1" data-aos="fade-up" data-aos-delay="50"><h2><%= home.competitions %></h2></header>
  <div class="competitions" data-aos="fade-up">
    <% for (var competition of competitions) { %>
    <% } %>
  </div>
</section>