<section class="section">
  <header class="skills__h1 h1" data-aos="fade-up" data-aos-delay="50"><h2><%= home.skills %></h2></header>
  <div class="skills" data-aos="fade-up">
    <% for (var i = 0; i < skills.length; i++) { %>
      <div class="skills__item">
        <div class="skills__iteminner">
          <div class="h2"><%= skills[i].title %></div>
          <div><%- skills[i].description %></div>
        </div>
      </div>
    <% } %>
  </div>
</section>